{{ define "featured" }}
    {{ range $i,$p := first 3 (where .Data.Pages.ByDate.Reverse "Section" "posts") }}
        <div class="row d-flex align-items-stretch">
            {{if  not (modBool $i 2)}}
            <div class="image col-lg-5"><img src="{{ .Params.featured_image }}" alt="..."></div>
            {{ end }}
            <div class="text col-lg-7">
                <div class="text-inner d-flex align-items-center">
                    <div class="content">
                        <header class="post-header">
                            <div class="category">
                            {{ range first 2 ( .Params.categories) }}
                                <a href="#">{{.}}</a>
                            {{ end }}
                            </div>
                            <a href="{{.Permalink}}">
                            <h2 class="h4"> {{.Title}}</h2></a>
                        </header>
                        <p>{{ .Summary }}</p>
                        <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                            <div class="avatar"><img src="{{ .Site.Params.avatar }}" alt="..." class="img-fluid"></div>
                            <div class="title"><span>{{.Params.author}}</span></div></a>
                            <div class="date"><i class="icon-clock"></i> {{ .Date.Format "January 2, 2006" }} </div>
                        </footer>
                    </div>
                </div>
            </div>
            {{if  (modBool $i 2)}}
            <div class="image col-lg-5"><img src="{{ .Params.featured_image }}" alt="..."></div>
            {{ end }}
        </div>
    {{ end }}
{{ range last 1 (where .Data.Pages "Section" "features") }}
<div class="feature-screen">
    <img src="{{.Params.image}}" alt="" class="img-responsive img-center">
</div>
{{ end }}
{{ end }}

{{ define "mybest" }}
    {{ $.Scratch.Set "count" 0 }}
    {{ range (where .Data.Pages.ByDate.Reverse "Section" "posts") }}
        {{ if in .Params.categories "Mi piacciono di più" }}
            {{ $.Scratch.Add "count" 1 }}
            {{$count := $.Scratch.Get "count"}}
            {{ if lt $count 4 }}
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="{{ .Permalink }}"><img src="{{ .Params.featured_image }}" alt="..." class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
                            </div><a href="{{.Permalink}}">
                            <h3 class="h4">{{.Title}}</h3></a>
                            <p class="text-muted">{{.Summary}}</p>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}