<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
  <body>
  {{ partial "header.html" . }}
    <!-- Hero Section-->
  {{ partial "hero.html" . }}
    <!-- Intro Section-->
    {{partial "description.html" . }}
  <!-- Featured -->
    {{partial "featured.html" . }}
    <!-- Divider Section-->
  {{partial "divider.html" . }}
    <!-- Latest Posts -->
  {{partial "mybest.html" . }}
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{{ .Site.BaseURL }}img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="{{ .Site.BaseURL }}img/gallery-1.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{{ .Site.BaseURL }}img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="{{ .Site.BaseURL }}img/gallery-2.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{{ .Site.BaseURL }}img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="{{ .Site.BaseURL }}img/gallery-3.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{{ .Site.BaseURL }}img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="{{ .Site.BaseURL }}img/gallery-4.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>
    <!-- Page Footer-->
    {{ partial "footer.html" .}}
  </body>
</html>